/* basic reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(203, 29, 6, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;
    font-family: 'Bangers', sans serif;
    text-align: center;
    min-height: 100vh;
    padding: 1rem;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(files/konoha.gif);
    opacity: 0.05;
    background-size:100px;
    background-repeat: repeat;
    animation: gerakLatar 10s linear infinite; 

}

/* Keyframes untuk animasi latar belakang */
@keyframes gerakLatar {
    from { background-position: 0 0; }
    to { background-position: 100px 100px; }
}
#start-screen{
    transition: background-image 0.5s ease-in-out;
    background-color: #1A237E;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 0;
    color: #f5f5f5;
    min-height: 500px;
    padding: auto 3em;
}


/* Ini adalah lapisan overlay-nya */
#start-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.container{
    background-color: #f9f9f9;
    border: 3px solid #FF9100;
    width: 100%;
    max-width: 600px;   
    border-radius: 1rem;
    box-shadow: 20px 30px 40px rgba(2, 2, 2, 0.1);
    overflow: hidden;
    position: relative;
}

.screen{
    display: none;
    position: relative;
    z-index: 1;
}

.screen.active {
    padding: 3em;
    display: flex; /* Atau pakai grid */
    flex-direction: column;
    justify-content: center;
}

#quiz-screen{
    background-color: #f9f9f9;
}

#start-screen h1{
    color: #FF9100;
    
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: clamp(2rem, 5vw, 3rem);
}

button {
    padding: 1em 2em;
    border-radius: 8px;
    background-color: #FF9100;
    border: none;
    color: #f9f9f9;
    margin-top: 1rem;
    transition: all 0.2s ease;
    box-shadow: #2222221A 0px 20px 30px;
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 900;

}
button:hover {
    background-color: #e36327;
    cursor: pointer;
    transform: scale(1.02);
}

#start-screen p {
    font-family: 'Noto Serif JP', sans-serif;
    font-weight: 900;
    font-size: clamp(0.8rem, 3vw, 1rem);
    letter-spacing: 2px;
}

.result-navigation{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 500px){
    .result-navigation{
        flex-direction: column;
        gap: 0rem;
    }
}

.prev-btn, .restart-btn{
    background-color: transparent;
    border: 2px solid #FF9100;
    color: #FF9100;
    transition: all 0.2s ease;
}
.prev-btn:hover, .restart-btn:hover{
    background-color: #e86a331d;
    cursor: pointer;
    transform: scale(1.1);
}

.skip-btn{
    margin-left: auto;
    
}

#start-btn, .skip-btn, .next-btn{
    transition: all 0.2s ease;
}
#start-btn:hover, .skip-btn:hover, .next-btn:hover{
    background-color: #f86e2d;
    transform: scale(1.1);
    cursor:pointer;
}

.quiz-header{
    margin-bottom:1rem;
}

.quiz-header h2{
    margin-bottom: 2rem;
}


.quiz-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #22222290;
}


.answers-container{
    display: flex;
    flex-direction:column;
    gap: 12px;
}

.answers-btn{
    background-color: #FFF8E1;
    
    border: 2px solid #e0d0b0;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    color: #222;
    font-weight: 700;
    transition: all 0.2s ease;
}

.answers-btn:hover{
    background-color: #fff1c1;
    border: solid #FF9100;
    cursor: pointer;
}

.answers-btn:active{
    background-color: #FF9100;
    color:#f9f9f9;
}

.answers-btn.correct{
    background-color: rgba(0, 128, 0, 0.21);
    color: green;
    border: 2px solid green;
}
.answers-btn.incorrect{
    background-color: rgba(128, 0, 0, 0.21);
    color: red;
    border: 2px solid red;
}

.progress-bar{
    height: 10px;
    background-color:#f4f0e5;
    border-radius:20px;
    overflow: hidden;
}

.progress{
    height: 100%;
    background-color: #FF9100;
    width:0%;
    transition: width 0.3s ease;
}


/* RESULT SCREEN */

#result-screen h1 {
    color: #e86a33;
    margin-bottom: 30px;
}

.result-info {
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    border: #FF91002b 2px double;
    box-shadow: 0 30px 40px #2222221A;
}

h1, h2, #title-quiz, #result-message {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px; 
    font-weight: normal; 
}

.result-info p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-message{
    font-weight: bold;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
}



.fail-theme{
    background-color: #ff011628;
    color: #e62222;
    border: 2px solid #e62222;
}

.home-btn{
    background-color: #1A237E;
    display: none;
}

.home-btn:hover{
    background-color: rgb(59, 59, 209);
}
/* RESPONSIVE DESIGN */
@media (max-width:500px){
    .screen.active{
        padding: 1.5rem;
    }
    
}
